/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  background-color: #fcf7ff;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #7e57c2;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links li {
  margin-right: 3rem;
}

.navbar-links a {
  text-decoration: none;
  color: #7e57c2;
  font-size: 1.2rem;
}

.navbar-buttons .login-button,
.navbar-buttons .register-button {
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-buttons .login-button {
  background-color: #7e57c2;
  color: white;
  border-radius: 10%;
}

.navbar-buttons .register-button {
  background-color: transparent;
  color: #7e57c2;
  border: 2px solid #7e57c2;
  border-radius: 10%;
}
